@font-face {
    font-family:'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Montserrat Bold';
    src: url('../fonts/Montserrat Bold.eot');
	src: url('../fonts/Montserrat Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat Bold.woff2') format('woff2'),
		url('../fonts/Montserrat Bold.woff') format('woff'),
		url('../fonts/Montserrat Bold.svg#Montserrat Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Montserrat Light';
    src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('../fonts/shadowsintolight_3.woff2') format('woff2'),
         url('../fonts/shadowsintolight_3.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


